.add-transaction-btn {
    background-color: #4CAF50; 
    color: white;
    margin-left: 400px;
    border: none; 
    border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
  
  .add-transaction-btn .icon {
    margin-right: 5px;
    font-size: 18px;
  }
  
  .add-transaction-btn:hover {
    background-color: #3e8e41;
  }
  