/* Target the table element with class "table" */
.table {
  margin-top: 50px;
  border-collapse: collapse; 
  width: 100%;
}

/* Style the table header (thead) */
.table thead {
  background-color: #f2f2f2;
}

/* Style the table header cells (th) */
.table thead th {
  padding: 10px; 
  text-align: left; 
  border: 1px solid #ddd; 
}

/* Style the table body (tbody) */
.table tbody {
  background-color: rgb(250, 247, 247);
}

/* Style the table body cells (td) */
.table tbody td {
  padding: 10px; 
  border: 1px solid #ddd;
}
